<form action="{{ url_for("inserir") }}" method="post">
<label for="id">ID:</label>
<input type="int" id="id" name="id" placeholder="Digite o ID do produto">
<label for="nome">Nome:</label>
<input type="text" id="nome" name="nome" placeholder="Digite o Nome do produto">
<label for="departamento">departamento:</label>
<input type="text" id="departamento" name="departamento" placeholder="Digite o departamento do produto">
<label for="codbar">Codbar:</label>
<input type="text" id="codbar" name="codbar" placeholder="Digite o Código de barras do produto">
<button type="submit">Salvar</button>